USE [master]
GO
/****** Object:  Database [SOLUCIONES_INTERNAS]    Script Date: 08/03/2018 14:53:53 ******/
CREATE DATABASE [SOLUCIONES_INTERNAS] ON  PRIMARY 
( NAME = N'SOLUCIONES_INTERNAS', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\SOLUCIONES_INTERNAS.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SOLUCIONES_INTERNAS_log', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\SOLUCIONES_INTERNAS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SOLUCIONES_INTERNAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SOLUCIONES_INTERNAS]
GO
/****** Object:  User [vheredia]    Script Date: 08/03/2018 14:53:53 ******/
CREATE USER [vheredia] FOR LOGIN [vheredia] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[COLABORADOR]    Script Date: 08/03/2018 14:53:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COLABORADOR](
	[COL_id_colaborador] [int] IDENTITY(1,1) NOT NULL,
	[COL_nombre_col] [varchar](50) NOT NULL,
	[COL_apellido_col] [varchar](50) NOT NULL,
	[COL_sector] [varchar](50) NULL,
 CONSTRAINT [PK_COLABORADOR] PRIMARY KEY CLUSTERED 
(
	[COL_id_colaborador] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 08/03/2018 14:53:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[CLI_id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[CLI_razon_social] [varchar](50) NOT NULL,
	[CLI_mail_cli] [varchar](50) NULL,
	[CLI_telefono_cli] [varchar](15) NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[CLI_id_cliente] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PIEZA]    Script Date: 08/03/2018 14:53:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PIEZA](
	[PIE_id_pieza] [int] IDENTITY(1,1) NOT NULL,
	[PIE_nombre_pie] [varchar](30) NOT NULL,
 CONSTRAINT [PK_PIEZA] PRIMARY KEY CLUSTERED 
(
	[PIE_id_pieza] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VENDEDOR]    Script Date: 08/03/2018 14:53:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VENDEDOR](
	[VEN_id_vendedor] [int] IDENTITY(1,1) NOT NULL,
	[VEN_nombre_ven] [varchar](50) NOT NULL,
	[VEN_apellido_ven] [varchar](50) NOT NULL,
	[VEN_mail_ven] [varchar](50) NULL,
	[VEN_telefono_mail] [varchar](15) NULL,
 CONSTRAINT [PK_VENDEDOR] PRIMARY KEY CLUSTERED 
(
	[VEN_id_vendedor] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DETALLE_ORDEN_TRABAJO]    Script Date: 08/03/2018 14:53:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DETALLE_ORDEN_TRABAJO](
	[id_detalle_orden_trabajo] [int] IDENTITY(1,1) NOT NULL,
	[DOT_cantidad_dot] [int] NULL,
	[DOT_tamaño_dot] [varchar](50) NULL,
	[DOT_tipo_impresion_dot] [varchar](4) NULL,
	[DOT_papel_soporte_1] [varchar](50) NULL,
	[DOT_papel_soporte_2] [varchar](50) NULL,
	[DOT_papel_soporte_3] [varchar](50) NULL,
	[DOT_gramaje_soporte_1] [int] NULL,
	[DOT_gramaje_soporte_2] [int] NULL,
	[DOT_gramaje_soporte_3] [int] NULL,
	[DOT_cantidad_soporte_1] [int] NULL,
	[DOT_cantidad_soporte_2] [int] NULL,
	[DOT_cantidad_soporte_3] [int] NULL,
	[DOT_formato_soporte_1] [varchar](15) NULL,
	[DOT_formato_soporte_2] [varchar](15) NULL,
	[DOT_formato_soporte_3] [varchar](15) NULL,
	[PIE_id_pieza] [int] NOT NULL,
 CONSTRAINT [PK_DETALLE_ORDEN_TRABAJO] PRIMARY KEY CLUSTERED 
(
	[id_detalle_orden_trabajo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORDEN_TRABAJO]    Script Date: 08/03/2018 14:53:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORDEN_TRABAJO](
	[ORT_id_orden_trabajo] [int] IDENTITY(1,1) NOT NULL,
	[ORT_fecha_ot] [date] NOT NULL,
	[ORT_tipo_ot] [varchar](10) NOT NULL,
	[ORT_numero_ot] [int] NOT NULL,
	[ORT_observaciones_ot] [varchar](250) NULL,
	[ORT_mejoras_ot] [varchar](250) NULL,
	[DOT_id_detalle_orden_trabajo] [int] NOT NULL,
	[VEN_id_vendedor] [int] NOT NULL,
	[CLI_id_cliente] [int] NOT NULL,
 CONSTRAINT [PK_ORDEN_TRABAJO] PRIMARY KEY CLUSTERED 
(
	[ORT_id_orden_trabajo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAREA]    Script Date: 08/03/2018 14:53:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAREA](
	[TAR_id_tarea] [int] IDENTITY(1,1) NOT NULL,
	[TAR_tiempo_estimado] [int] NULL,
	[TAR_tiempo_real] [int] NOT NULL,
	[COL_id_colaborador] [int] NOT NULL,
	[ORT_id_orden_trabajo] [int] NOT NULL,
	[TAR_hora_fin] [varchar](10) NOT NULL,
	[TAR_detalle_tarea] [varchar](100) NOT NULL,
	[TAR_observaciones] [varchar](100) NOT NULL,
 CONSTRAINT [PK_TAREA] PRIMARY KEY CLUSTERED 
(
	[TAR_id_tarea] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_DETALLE_ORDEN_TRABAJO_PIEZA]    Script Date: 08/03/2018 14:53:55 ******/
ALTER TABLE [dbo].[DETALLE_ORDEN_TRABAJO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_ORDEN_TRABAJO_PIEZA] FOREIGN KEY([PIE_id_pieza])
REFERENCES [dbo].[PIEZA] ([PIE_id_pieza])
GO
ALTER TABLE [dbo].[DETALLE_ORDEN_TRABAJO] CHECK CONSTRAINT [FK_DETALLE_ORDEN_TRABAJO_PIEZA]
GO
/****** Object:  ForeignKey [FK_ORDEN_TRABAJO_CLIENTE]    Script Date: 08/03/2018 14:53:55 ******/
ALTER TABLE [dbo].[ORDEN_TRABAJO]  WITH CHECK ADD  CONSTRAINT [FK_ORDEN_TRABAJO_CLIENTE] FOREIGN KEY([CLI_id_cliente])
REFERENCES [dbo].[CLIENTE] ([CLI_id_cliente])
GO
ALTER TABLE [dbo].[ORDEN_TRABAJO] CHECK CONSTRAINT [FK_ORDEN_TRABAJO_CLIENTE]
GO
/****** Object:  ForeignKey [FK_ORDEN_TRABAJO_DETALLE_ORDEN_TRABAJO]    Script Date: 08/03/2018 14:53:55 ******/
ALTER TABLE [dbo].[ORDEN_TRABAJO]  WITH CHECK ADD  CONSTRAINT [FK_ORDEN_TRABAJO_DETALLE_ORDEN_TRABAJO] FOREIGN KEY([DOT_id_detalle_orden_trabajo])
REFERENCES [dbo].[DETALLE_ORDEN_TRABAJO] ([id_detalle_orden_trabajo])
GO
ALTER TABLE [dbo].[ORDEN_TRABAJO] CHECK CONSTRAINT [FK_ORDEN_TRABAJO_DETALLE_ORDEN_TRABAJO]
GO
/****** Object:  ForeignKey [FK_ORDEN_TRABAJO_VENDEDOR]    Script Date: 08/03/2018 14:53:55 ******/
ALTER TABLE [dbo].[ORDEN_TRABAJO]  WITH CHECK ADD  CONSTRAINT [FK_ORDEN_TRABAJO_VENDEDOR] FOREIGN KEY([VEN_id_vendedor])
REFERENCES [dbo].[VENDEDOR] ([VEN_id_vendedor])
GO
ALTER TABLE [dbo].[ORDEN_TRABAJO] CHECK CONSTRAINT [FK_ORDEN_TRABAJO_VENDEDOR]
GO
/****** Object:  ForeignKey [FK_TAREA_COLABORADOR]    Script Date: 08/03/2018 14:53:55 ******/
ALTER TABLE [dbo].[TAREA]  WITH CHECK ADD  CONSTRAINT [FK_TAREA_COLABORADOR] FOREIGN KEY([COL_id_colaborador])
REFERENCES [dbo].[COLABORADOR] ([COL_id_colaborador])
GO
ALTER TABLE [dbo].[TAREA] CHECK CONSTRAINT [FK_TAREA_COLABORADOR]
GO
/****** Object:  ForeignKey [FK_TAREA_ORDEN_TRABAJO]    Script Date: 08/03/2018 14:53:55 ******/
ALTER TABLE [dbo].[TAREA]  WITH CHECK ADD  CONSTRAINT [FK_TAREA_ORDEN_TRABAJO] FOREIGN KEY([ORT_id_orden_trabajo])
REFERENCES [dbo].[ORDEN_TRABAJO] ([ORT_id_orden_trabajo])
GO
ALTER TABLE [dbo].[TAREA] CHECK CONSTRAINT [FK_TAREA_ORDEN_TRABAJO]
GO
