<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <clear/>
            <add name="SOLUCIONES_INTERNAS.My.MySettings.SOLUCIONES_INTERNASConnectionString1"
            connectionString="Data Source=DESKTOP-84P9IMQ\SQLEXPRESS;Initial Catalog=SOLUCIONES_INTERNAS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        </startup>
</configuration>